<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Login</title>
    <link rel="stylesheet" href="/css/staff_login.css">

    <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service.js').then((registration) => {
            console.log('Service Worker registered with scope:', registration.scope);
          }).catch((error) => {
            console.log('Service Worker registration failed:', error);
          });
        }
      </script>
      
</head>
<body>
    <header>
        <h1>Staff Login</h1>
    </header>
    <form id="loginForm">
        <label for="password">Enter Password:</label>
        <input type="password" id="password" placeholder="Password" required>
        <button type="button" onclick=checkPassword()>Login</button>
    </form>
    <p id="message" style="color: red; display: none;"></p>

    <script>
        function checkPassword() {
            const password = document.getElementById('password').value;
            const correctPassword = 'Emmanuel';

            if (password === correctPassword) {
                window.location= 'localhost:5000/staff';
                console.log("Password Correct");

            } else {
                document.getElementById('message').innerText = 'Incorrect password. Please try again.';
                document.getElementById('message').display= 'block';
            }
        }
    </script>
</body>
</html>
